body {
    background: pink;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 120px;
    z-index: 2;
    position: relative;
}

.cat {
    position: absolute;
    width: 90px;
    opacity: 0.85;
    animation: floatCats 14s linear infinite;
}

.cat:nth-child(1) { left: 10%; animation-duration: 12s; }
.cat:nth-child(2) { left: 45%; animation-duration: 15s; }
.cat:nth-child(3) { left: 75%; animation-duration: 13s; }

@keyframes floatCats {
    0% { top: 100%; transform: rotate(0deg); }
    100% { top: -10%; transform: rotate(360deg); }
}

