body {
    background: pink;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    z-index: 5;
}


.cat {
    position: absolute;
    width: 50px;
    opacity: 0.7;
    animation-name: floatCats;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.cat:nth-child(1) { left: 10%; animation-duration: 12s; }
.cat:nth-child(2) { left: 45%; animation-duration: 15s; }
.cat:nth-child(3) { left: 75%; animation-duration: 13s; }

@keyframes floatCats {
    0% {
        top: 110%;
        transform: translateX(0) rotate(0deg);
    }
    100% {
        top: -20%;
        transform: translateX(40px) rotate(360deg);
    }
}


.cat:nth-child(1) {
    left: 15%;
    animation-duration: 22s;
}

.cat:nth-child(2) {
    left: 45%;
    animation-duration: 26s;
}

.cat:nth-child(3) {
    left: 75%;
    animation-duration: 24s;
}


